body{
background-image: url('https://media1.giphy.com/media/l5JbspfwZ0yjHjlJ0K/giphy.gif');
background-size: cover;
  
height: 100vh;
padding:0;
margin:0;
}


.rubrik{
font-style: oblique;
text-align: center;   
border: 5px solid red;
border-width: 20px;
padding: 50px;
margin-top: 40px;
margin-left: 10%;
margin-right: 10%;
width: 250px;
}

#HA {
    background-color: lightblue;
    text-align: center;
    }
    
    #HB {
    background-color: tomato;
    text-align: right;
    }
